<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Modernize Bootstrap Admin</title>
    <th:block th:replace="~{design/module/components/header_assets :: content}"></th:block>

</head>

<body class="link-sidebar">
<!-- Preloader -->
<!-- <div class="preloader">
    <img src="../assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
</div> -->
<div id="main-wrapper">
    <!-- Sidebar Start -->
    <th:block th:replace="~{design/module/components/aside_sidebar :: content}"></th:block>
    <!--  Sidebar End -->
    <div class="page-wrapper">
        <!--  Header Start -->
        <th:block th:replace="~{design/module/components/header_nav :: content}"></th:block>
        <!--  Header End -->


        <th:block th:replace="~{design/module/components/aside_left_sidebar :: content}"></th:block>

        <div id="alert-message"
             style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); width: 300px; z-index: 9999;">

        </div>
        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
<!--                    <h2>list</h2>-->
                    <div class="float-end">
                        <button type="button" id="shoplistbutton"
                                class="create-user-btn float-end btn btn-primary mb-3">
                            <i class="fas fa-user-plus"></i>Create Shop
                        </button>
                        <button type="button" id="createshopbutton"
                                class="showtable-btn float-end btn btn-primary mb-3 d-none">
                            <i class="fas fa-user-plus"></i> View shops
                        </button>
                    </div>
                    <div id="shopDetailsTable" class=" card-body px-4 py-3">
<!--                        <h2>Shops list</h2>-->
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Shop Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">User</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${shopsList != null and !shopsList.isEmpty()}"
                                th:each="shop, iterStat : ${shopsList}">
                                <th scope="row" th:text="${iterStat.index + 1}"></th>
                                <td th:text="${shop.shop.name}"></td>
                                <td th:text="${shop.shop.address}"></td>
                                <td th:text="${shop.user.username}"></td>
                                <td>
                                    <!-- Delete Button -->
                                    <button class="btn btn-danger delete-btn" th:data-id="${shop.id}">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                    <!-- Edit Button -->
                                    <button class="btn btn-primary edit-btn" th:data-id="${shop.id}">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </td>
                            </tr>
                            <tr th:if="${shopsList == null or shopsList.isEmpty()}">
                                <td colspan="4" class="text-center">No shops available.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="createUserForm" class="d-none">
                        <div class="position-relative">
                            <div class="screen__content">
<!--                                <h2>Create Shop</h2>-->
                                <div class="pb-4 authentication-login row justify-content-center align-items-center">
                                    <div class="bg-body col-sm-8 col-md-6 col-xl-7 px-4 pt-2">
                                        <form id="createShopForm">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="createshopname" class="form-label">Shop Name</label>
                                                    <input type="text" class="form-control" id="createshopname"
                                                           aria-describedby="textHelp">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="createshopaddress" class="form-label">Shop
                                                        Address</label>
                                                    <input type="text" class="form-control" id="createshopaddress"
                                                           aria-describedby="textHelp">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="createusermobile" class="form-label">Mobile
                                                        Number</label>
                                                    <input type="tel" class="form-control" id="createusermobile"
                                                           aria-describedby="textHelp">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="createuseremail" class="form-label">Email
                                                        Address</label>
                                                    <input id="createuseremail" type="email" class="form-control"
                                                           aria-describedby="emailHelp">
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <label for="creteuserpassword" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="creteuserpassword">
                                                </div>
                                            </div>
                                            <button class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                                                <span class="button__text">Create Restaurant</span>
                                            </button>
                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div id="shopEditForm" class="d-none">
                        <div class="position-relative">
                            <div class="screen__content">
                                <!--                                <h2>Create Shop</h2>-->
                                <div class="pb-4 authentication-login row justify-content-center align-items-center">
                                    <div class="bg-body col-sm-8 col-md-6 col-xl-7 px-4 pt-2">
                                        <form id="editShopForm">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="editshopname" class="form-label">Shop Name</label>
                                                    <input type="text" class="form-control" id="editshopname"
                                                           aria-describedby="textHelp">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="editshopaddress" class="form-label">Shop
                                                        Address</label>
                                                    <input type="text" class="form-control" id="editshopaddress"
                                                           aria-describedby="textHelp">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="editusermobile" class="form-label">Mobile
                                                        Number</label>
                                                    <input type="tel" class="form-control" id="editusermobile"
                                                           aria-describedby="textHelp">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="edituseremail" class="form-label">Email
                                                        Address</label>
                                                    <input id="edituseremail" type="email" class="form-control"
                                                           aria-describedby="emailHelp">
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <label for="edituserpassword" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="edituserpassword">
                                                </div>
                                            </div>
                                            <button class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                                                <span class="button__text">Save Changes</span>
                                            </button>
                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>


            </div>
        </div>


        <th:block th:replace="~{design/module/components/addons_first :: content}"></th:block>


    </div>


    <th:block th:replace="~{design/module/components/addons_second :: content}"></th:block>


</div>
<div class="dark-transparent sidebartoggler"></div>


<th:block th:replace="~{design/module/components/footer :: content}"></th:block>
</body>

</html>