<section th:fragment="store_add_modal">
    <div class="modal fade" id="kt_modal_add_store" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header border-bottom">
                    <h5 class="modal-title add-list-title text-primary" id="addListModalTitleLabel1">Add Store</h5>
                    <h5 class="modal-title edit-list-title text-success" id="addListModalTitleLabel2" style="display: none;">Edit Store</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body p-4">
                    <!-- Form with action and method -->
                    <form id="storeForm" th:action="@{/store/add}" class="form" th:object="${storeDto}">
                        <!-- Fields -->
<!--                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="storeName" class="form-label">Store Name</label>
                                <input type="text" id="storeName" name="storeName" class="form-control" placeholder="Enter Store Name" required>
                            </div>
                            <div class="col-md-4">
                                <label for="mobile" class="form-label">Mobile Number</label>
                                <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Enter Mobile Number" required>
                            </div>
                            <div class="col-md-4">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required>
                            </div>
                        </div>

                        <div class="row g-3 mt-2">
                            <!-- Field 4 -->
                            <div class="col-md-4">
                                <label for="addressLine1" class="form-label">Address1</label>
                                <input type="text" id="addressLine1"  name="addressLine1" class="form-control" placeholder="Enter Address 1">
                            </div>
                            <!-- Field 5 -->
                            <div class="col-md-4">
                                <label for="addressLine2" class="form-label">Address2</label>
                                <input type="text" id="addressLine2"  name="addressLine2" class="form-control" placeholder="Enter Address 2">
                            </div>
                            <!-- Field 6 -->
                            <div class="col-md-4">
                                <label for="districtGid" class="form-label">District</label>
                                <select id="districtGid" name="districtGid" class="form-select form-select-solid customselect"
                                        data-placeholder="Select District">
                                    <option value="-1">Select
                                        District</option>
                                    <option th:each="district : ${districts}"
                                            th:value="${district.getGid()}"
                                            th:text="${district.getNameEn()}">
                                    </option>
                                </select>
<!--                                <input type="text" id="district"  name="district" class="form-control" placeholder="Enter District">-->
                            </div>
                        </div>

                        <div class="row g-3 mt-2">
                            <!-- Field 7 -->
                            <div class="col-md-4">
                                <label for="pincode" class="form-label">PIN</label>
                                <input type="text" id="pincode"  name="pincode" class="form-control" placeholder="Enter PIN">
                            </div>
                            <!-- Field 8 -->
                            <div class="col-md-4">
                                <label for="opentime" class="form-label">Open Time</label>
                                <input type="time" id="opentime"  name="opentime" class="form-control" placeholder="Enter Open Time">
                            </div>
                            <!-- Field 9 -->
                            <div class="col-md-4">
                                <label for="closetime" class="form-label">Close Time</label>
                                <input type="time" id="closetime"  name="closetime" class="form-control" placeholder="Enter Close Time">
                            </div>
                        </div>

                        <div class="row g-3 mt-2">
                            <!-- Field 10 -->
                            <div class="col-md-6">
                                <label for="workingDays" class="form-label">Working Days</label>
                                <input type="text" id="workingDays" name="workingDays" class="form-control" placeholder="Enter Working Days">
                            </div>
                            <!-- Textarea Field -->
                            <div class="col-md-6">
                                <label for="description" class="form-label">Store Description</label>
                                <textarea id="description"  name="description" class="form-control" rows="3" placeholder="Enter Store Description"></textarea>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer border-top d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-danger me-3" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="storeForm" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <!--end::Modal dialog-->
    </div>
</section>



