<head th:fragment="content">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/logos/favicon.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css}" />
</head>