<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Modernize Bootstrap Admin</title>
    <th:block th:replace="~{components/header_assets :: content}"></th:block>

</head>

<body class="link-sidebar">
<!-- Preloader -->
<!-- <div class="preloader">
<img src="../assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
</div> -->
<div id="main-wrapper">
    <!-- Sidebar Start -->
    <th:block th:replace="~{components/aside_sidebar :: content}"></th:block>
    <!--  Sidebar End -->
    <div class="page-wrapper">
        <!--  Header Start -->
        <th:block th:replace="~{components/header_nav :: content}"></th:block>
        <!--  Header End -->


        <th:block th:replace="~{components/aside_left_sidebar :: content}"></th:block>

        <div id="alert-message"
             style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); width: 300px; z-index: 9999;">

        </div>
        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
                    <div class="card-body px-4 py-3">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <h4 class="fw-semibold mb-8">Basic Table</h4>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a class="text-muted text-decoration-none"
                                               href="../rtl/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item" aria-current="page">Basic Table</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-3">
                                <div class="text-center mb-n5">
                                    <img src="../assets/images/breadcrumb/ChatBc.png" alt="modernize-img"
                                         class="img-fluid mb-n4"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-100 position-relative overflow-hidden">
                    <!--                    <div class="px-4 py-3 border-bottom">-->
                    <!--                        <h4 class="card-title mb-0">Shop List</h4>-->
                    <!--                        <button id="shoplistbutton"-->
                    <!--                                class="create-user-btn float-end btn btn-rounded btn-outline-dark"-->
                    <!--                                data-bs-toggle="modal" data-bs-target="#create-user-modal-lg">-->
                    <!--                            <i class="fas fa-user-plus"></i>Create Shop-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <div class="card-body p-4">
                        <div class="table-responsive mb-4 border rounded-1">
                            <!--                            <table class="table text-nowrap mb-0 align-middle">-->
                            <!--                                <thead class="text-dark fs-4">-->
                            <!--                                <tr>-->
                            <!--                                    <th>-->
                            <!--                                        <h6 class="fs-4 fw-semibold mb-0">Menu Category</h6>-->
                            <!--                                    </th>-->
                            <!--                                    <th>-->
                            <!--                                        <h6 class="fs-4 fw-semibold mb-0">Menu</h6>-->
                            <!--                                    </th>-->
                            <!--                                    <th>-->
                            <!--                                        <h6 class="fs-4 fw-semibold mb-0">Price</h6>-->
                            <!--                                    </th>-->

                            <!--                                </tr>-->
                            <!--                                </thead>-->
                            <!--                                <tbody>-->
                            <!--                                <tr th:if="${menuItem != null and !menuItem.isEmpty()}"-->
                            <!--                                    th:each="menu : ${menuItem}">-->
                            <!--                                    <td th:text="${menu.shopMenuCategory.name}"></td>-->
                            <!--                                    <td th:text="${menu.name}"></td>-->
                            <!--                                    <td th:text="${menu.price}"></td>-->
                            <!--                                </tr>-->
                            <!--                                </tbody>-->
                            <!--                            </table>-->
                            <div class="col-md-10 offset-md-1">
                                <div th:each="entry : ${categorizedMenu}">
                                    <div class="categ-name">
                                        <h2 th:text="${entry.key}"></h2> <!-- Category Name -->
                                    </div>
                                    <div class="menu-holder menu-1col">
                                        <div th:each="menuItem : ${entry.value}"
                                             class="menu-post clearfix checkbox-container"
                                             th:attr="data-price=${menuItem.price}, data-name=${menuItem.name}, data-id=${menuItem.id}">
                                            <div class="menu-post-desc">
                                                <h4>
                                                    <span class="menu-name" th:text="${menuItem.name}"></span>
                                                    <span class="menu-price" th:text="'₹' + ${menuItem.price}"></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="create-user-modal-lg" tabindex="-1" aria-labelledby="create-user-modal-lg"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header d-flex align-items-center">-->
<!--                <h4 class="modal-title" id="myLargeModalLabel">-->
<!--                    Create New Shop-->
<!--                </h4>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="pb-4 authentication-login row justify-content-center align-items-center">-->
<!--                    <form id="createShopForm">-->
<!--                        <div class="row mb-3">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="createshopname" class="form-label">Shop Name</label>-->
<!--                                <input type="text" class="form-control" id="createshopname"-->
<!--                                       aria-describedby="textHelp">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="createshopaddress" class="form-label">Shop-->
<!--                                    Address</label>-->
<!--                                <input type="text" class="form-control" id="createshopaddress"-->
<!--                                       aria-describedby="textHelp">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="createusermobile" class="form-label">Mobile-->
<!--                                    Number</label>-->
<!--                                <input type="tel" class="form-control" id="createusermobile"-->
<!--                                       aria-describedby="textHelp">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="createuseremail" class="form-label">Email-->
<!--                                    Address</label>-->
<!--                                <input id="createuseremail" type="email" class="form-control"-->
<!--                                       aria-describedby="emailHelp">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-4">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="creteuserpassword" class="form-label">Password</label>-->
<!--                                <input type="password" class="form-control" id="creteuserpassword">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button class="btn btn-primary w-100 py-8 mb-4 rounded-2">-->
<!--                            <span class="button__text">Create Restaurant</span>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start"-->
<!--                        data-bs-dismiss="modal">-->
<!--                    Close-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal fade" id="edit-btn-modal-lg" tabindex="-1" aria-labelledby="edit-btn-modal-lg" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header d-flex align-items-center">-->
<!--                <h4 class="modal-title">-->
<!--                    Edit Details-->
<!--                </h4>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="pb-4 authentication-login row justify-content-center align-items-center">-->
<!--                    <form id="editShopForm" data-gid="">-->
<!--                        <div class="row mb-3">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="editshopname" class="form-label">Shop Name</label>-->
<!--                                <input type="text" class="form-control" id="editshopname"-->
<!--                                       aria-describedby="textHelp">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="editshopaddress" class="form-label">Shop-->
<!--                                    Address</label>-->
<!--                                <input type="text" class="form-control" id="editshopaddress"-->
<!--                                       aria-describedby="textHelp">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="editusermobile" class="form-label">Mobile-->
<!--                                    Number</label>-->
<!--                                <input type="tel" class="form-control" id="editusermobile"-->
<!--                                       aria-describedby="textHelp">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="edituseremail" class="form-label">Email-->
<!--                                    Address</label>-->
<!--                                <input id="edituseremail" type="email" class="form-control"-->
<!--                                       aria-describedby="emailHelp">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-4">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="edituserpassword" class="form-label">Password</label>-->
<!--                                <input type="password" class="form-control" id="edituserpassword">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2">Save Changes-->
<!--                        </button>-->
<!--                    </form>-->

<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start"-->
<!--                        data-bs-dismiss="modal">-->
<!--                    Close-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<th:block th:replace="~{components/addons_first :: content}"></th:block>


</div>


<th:block th:replace="~{components/addons_second :: content}"></th:block>


</div>
<div class="dark-transparent sidebartoggler"></div>


<th:block th:replace="~{components/footer :: content}"></th:block>
</body>

</html>