<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>CARDLY - MENU MAKER</title>-->
<!--    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>-->
<!--    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>-->
<!--    <link th:href="@{/css/main.css}" rel="stylesheet">-->

<!--</head>-->

<!--<body>-->
<!--    <div class="container">-->
<!--        <div class="screen">-->
<!--            <div class="screen__content">-->
<!--                <form class="login" th:action="@{/dashboard}" th:object="${loginForm}" method="post">-->
<!--                    <p th:if="${error}" class="error">UserName & Password Incorrect</p>-->
<!--                    <div class="login__field">-->
<!--                        <i class="login__icon fas fa-user"></i>-->
<!--                        <input type="text" name="username" class="login__input" placeholder="User name / Email"-->
<!--                            th:value="${username}">-->
<!--                    </div>-->
<!--                    <div class="login__field">-->
<!--                        <i class="login__icon fas fa-lock"></i>-->
<!--                        <input type="password" name="password" class="login__input" placeholder="Password"-->
<!--                            th:value="${password}">-->
<!--                    </div>-->
<!--                    <button class="button login__submit">-->
<!--                        <span class="button__text">Log In Now</span>-->
<!--                        <i class="button__icon fas fa-chevron-right"></i>-->
<!--                    </button>-->
<!--                </form>-->
<!--                &lt;!&ndash; <div class="social-login">-->
<!--                    <h3>Log in via</h3>-->
<!--                    <div class="social-icons">-->
<!--                        <a href="#" class="social-login__icon fab fa-instagram"></a>-->
<!--                        <a href="#" class="social-login__icon fab fa-facebook"></a>-->
<!--                        <a href="#" class="social-login__icon fab fa-twitter"></a>-->
<!--                    </div>-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="screen__background">-->
<!--                <span class="screen__background__shape screen__background__shape4"></span>-->
<!--                <span class="screen__background__shape screen__background__shape3"></span>-->
<!--                <span class="screen__background__shape screen__background__shape2"></span>-->
<!--                <span class="screen__background__shape screen__background__shape1"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Login</title>
    <th:block th:replace="~{design/module/components/header_assets :: content}"></th:block>

</head>

<body class="link-sidebar">
<!-- Preloader -->
<!-- <div class="preloader">
    <img src="../assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
</div> -->

<div class="">
    <div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
        <div class="auth-max-width col-sm-8 col-md-6 col-xl-7 px-4">
            <h2 class="mb-1 fs-7 fw-bolder">Welcome to Menu Maker</h2>
            <form class="login" th:action="@{/dashboard}" th:object="${loginForm}" method="post">
                <p th:if="${error}" class="error">UserName & Password Incorrect</p>
                <div class="mb-3">
                    <label for="inputusername" class="form-label">Username</label>
                    <!--                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
                    <input type="text" id="inputusername" name="username" class="form-control"
                           placeholder="User name / Email"
                           th:value="${username}">

                </div>
                <div class="mb-4">
                    <label for="inputPassword" class="form-label">Password</label>
                    <!--                    <input type="password" class="form-control" id="exampleInputPassword1">-->
                    <input type="password" id="inputPassword" name="password" class="form-control"
                           placeholder="Password"
                           th:value="${password}">
                </div>
                <button class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                    Log In
                </button>
            </form>
        </div>
    </div>
</div>


</body>

</html>