<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Default Title</title>
    <link rel="stylesheet" th:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
    <header class="dashboard-header" layout:fragment="header">
        <h1>Default Header</h1>
    </header>
    <main layout:fragment="body-content">
    </main>
    <footer class="dashboard-footer" layout:fragment="footer">
        <p>&copy; 2024 My Application</p>
    </footer>
</body>
</html>
